# Rules
.clinerules/byterover-rules.md
.kilocode/rules/byterover-rules.md
.roo/rules/byterover-rules.md
.windsurf/rules/byterover-rules.md
.cursor/rules/byterover-rules.mdc
.kiro/steering/byterover-rules.md
.qoder/rules/byterover-rules.md
.augment/rules/byterover-rules.md

# OS / Config
.DS_Store
.env

# Python
__pycache__/
*.pyc
*.py[cod]
*$py.class
venv/
.venv/

# Node
node_modules/
frontend/test-results/
frontend/playwright-report/
